<!DOCTYPE html>
<html>
<head>
    <title>Healthy Diet Plan Calculator</title>
    <link rel="stylesheet" type="text/css" href="static/diet.css">
    <header>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="diet">Diet Plan Calculator</a></li>
          </ul>
        </nav>
      </header>
    <h1 style = "text-align: center;">Healthy Diet Plan Calculator</h1>
</head>
<body>
    <p>Online dieting calculator will help you to calculate BMI, calorie needs per day, ideal body weight and weight status based on current age, height, weight and daily activities for your healthy life.</p>
    <br><br>
    <div style = "display:flex;">
        <pre style="font-size:larger; font-family:'Times New Roman', Times, serif; padding-left: 50px; line-height: 1.5;">
            <b>Formula:</b>

            Body Mass Index(BMI) =W/(H*H)
            Ideal Weight =(0.5 * BMI +11.5)*H*H
            Calorie Needs per Day =66.67+(13.75*W)+(5*H)-(6.76*age)

            where,  H= Height
                         W= Weight
            <iframe style = "padding-left: 700px;" src='https://www.easycalculation.com/medical/embedded_diet-plan.php' width='1300' height='1000' frameborder='0' style='background:#F5F3F5;padding:20px;'></iframe>
        </pre>
    </div>
</body>
</html>

<!--<!DOCTYPE html>
<html>
<head>
	<title>Healthy Diet Plan Calculator</title>
    <link rel="stylesheet" type="text/css" href="static/diet.css">
    <header>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="diet">Diet Plan Calculator</a></li>
          </ul>
        </nav>
      </header>
    <h1 style = "text-align: center;">Healthy Diet Plan Calculator</h1>
	<style>
		.container {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.element {
			width: 50%;
			padding: 10px;
			border: 1px solid black;
			box-sizing: border-box;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="element">
			<p>Online dieting calculator will help you to calculate BMI, calorie needs per day, ideal body weight and weight status based on current age, height, weight and daily activities for your healthy life.</p>
            <br><br>
            <pre style="font-size:larger; font-family:'Times New Roman', Times, serif; padding-left: 50px; line-height: 1.5;">
                <b>Formula:</b>

                Body Mass Index(BMI) =W/(H*H)
                Ideal Weight =(0.5 * BMI +11.5)*H*H
                Calorie Needs per Day =66.67+(13.75*W)+(5*H)-(6.76*age)

                where,  H= Height
                            W= Weight

            </pre>
		</div>
		<div class="element">
			<iframe src='https://www.easycalculation.com/medical/embedded_diet-plan.php' width='1300' height='1000' frameborder='0' style='background:#F5F3F5;padding:20px;'></iframe>
		</div>
	</div>
</body>
</html>-->

