<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
  <style>
header {
    background-image: url("static/indianbg.jpg");
    background-size:cover;
    background-position: center;
    color: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    }
  </style>
  
</head>
	<header>
    <nav>
      <img src="static/lgo.jpg" alt="Your logo description">

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/food">Food Recognition</a></li>
        <li><a href="/meal_plan">Meal Plan Selector</a></li>
        <li><a href="/diet">Diet Plan Calculator</a>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
    <h1>FOOD RECOGNITION AND CALORIE MEASUREMENT</h1>
    <hr>
  </header>
  
	
  <body>
    <section id="skill-row">
    <div class="middle-container">
          <h2>Key features of this application.</h2>
          <div class="skill-row">
            <img class="weights" src="static/menu.png" alt="image">
            <h3>Food recognition</h3>
            <p>Helps you to scan your food and tells you the name of the dish.</p>
          </div>
          <div class="skill-row">
            <img class="coding" src="static/dashboard.png" alt="images">
            <h3>Calorie measurement</h3>
            <p>This helps in understanding how many calories a particular dish contains.</p>
          </div>
          <div class="skill-row">
            <img class="health" src="static/healthy-living.png" alt="images">
            <h3>Health tracking</h3>
            <p>Tracks your health and recommends suitable foods.</p>
          </div>
        </div>
      </section>

      <section id="about">
        <h2>ABOUT US</h2>
        <p>Welcome to our food recognition and calorie measurement website! We believe that a healthy lifestyle starts with the food we eat, and we're here to help you make informed choices about your diet.
          With our advanced machine learning technology, you can easily identify the food on your plate and get an accurate measurement of its calories, nutrients, and ingredients. Whether you're counting calories, monitoring your macros, or just curious about what's in your food, our website has you covered.
          Our user-friendly interface makes it easy to log your meals, track your progress, and stay motivated on your health journey. You can also access a wide range of recipes, meal plans, and dietary recommendations tailored to your unique needs and preferences.
          Join our community of food enthusiasts and take control of your nutrition today. Start using our food recognition and calorie measurement website and see the difference it can make in your health and wellbeing!</p>
      </section>


        <div class="contact-me">
          <img class ="contact"src="static/contact-mail.png" alt="image">
          <h3>Get in touch with our experts</h3>
          <p class="contact-message">Discuss about your queries!</p>
          <a class="btn" href="mailto:kemo19is@cmrit.ac.in">CONTACT US</a>
        </div>
      </div>
      <div class="bottom-container">
        <p class="copyright">© 2023 Food recognition and calorie measurement.</p>
       </div>
	
  <script src="script.js"></script>
<script src="ml.js"></script>
<script src="login.js"></script>


</body>
</html>
